
/* Content */

body {

     font-family: 'Open Sans Condensed', sans-serif;
}

.container {

    max-width: 100%;
    height: auto;
}

/* Header */

.align-text {
    text-align: right;
    font-size: 25px;
}

img {
    max-width: 100%;
}

h1 {
    color: pink;
    text-align: right;
    text-transform: uppercase;
    color: #2d3c49;
}

p {
    text-align: center;
    color: #2d3c49;
    font-size: 20px;
}

/* Separator */

hr {

    border-bottom: 2px solid #7d97ad;
    max-width: 100%;
    height: auto;
}

/* Article */

h2 {
    color: #7d97ad;
    text-align: left;
}

h3 {
    text-align: center;
    font-weight: bold;
    color: #2d3c49;
}

a {
    vertical-align: center;
    color: #2d3c49;
    font-size: 20px;
}

/* Footer */

footer {
    background-color: #7d97ad;
    height: 4em;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 30px;
    color: #fff;
    margin: 15px;
    margin-bottom: 0;
}

li {
    float: left;
    margin-right: 15px;
    width: calc((100% - 45px) / 4);
}

li:last-of-type {
    margin-right: 0;
}

li {
    min-width: 48px;
    min-height: 48px;
}


/* Media */

@media only screen and (min-width: 320px) and (max-width: 425px) {

    .align-text {
        text-align: right;
        font-size: 20px;
     }

    h1 { font-size: 30px; }

    .logo-align {
        width: 50%;
        float: left;
     }

    .title-adjusts {
        width: 50%;
        float: right;
     }

}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .align-text {
        text-align: right;
        font-size: 25px;
     }

    h1 { font-size: 35px;}

    .logo-align {
        width: 50%;
        float: left;
     }

    .title-adjusts {
        width: 50%;
        float: right;
     }

    .box-app-position {
        width: 50%;
        float: left;
    }

    .box-portrait-position {
        width: 50%;
        float: right;
    }

    .box-influences-position {
        width: 100%;
        text-align: center;
    }


}
